doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/css/admin.css")
  body
    header.navbar
      .brand Admin Portfolio
      nav.menu
        a(href="/admin/projects") Projects
        a(href="/admin/skills") Skills
    main.container
      block content
